body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-image {
  background-image: url('https://media2.giphy.com/media/NWg7M1VlT101W/giphy.gif?cid=ecf05e47nbmkktrkrdq73j8hc0iopfgzgzyxwjbshn1ikro3&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border: 5px solid #3498db;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: rotate 20s linear infinite;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Ensuring rounded corners */
}

.profile-info {
  text-align: center;
}

.profile-info h2 {
  color: #3498db;
  margin-bottom: 10px;
  font-size: 24px;
}

.profile-info p {
  color: #555;
  margin-bottom: 15px;
}

.welcome-links {
  font-size: 16px;
  display: flex;
  justify-content: center;
  animation: moveContinuously 4s linear infinite;
}

.social-link {
  margin: 0 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3498db;
  transition: background-color 0.3s ease-in-out;
}

.social-link:hover {
  background-color: #2980b9;
}

@keyframes moveContinuously {
  0%, 100% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
